ul{
list-style-type: none;
padding-right: .6em;
}

#wrapper{
    width: 925px;
    height: 1355px;
    margin-left: 0px;
    margin-right: 0px;
    top: 500px;
    left: 0px;
}
#left{
	border-radius: 5px;
	min-height: 300px;
	/*background-color: black;*/
	background-image: url("../img/brushed.png");
}

#upbutton{
	height: 50px;
}

#topbar{
	background-color: #336699;
}

.li{
	margin: 30px;
}

.header{
	margin-top: 5px;
	font-size: 45px;
}

#main {
    margin-top: 20px;
}

#new{
	height:50px;
	width:auto;
}

#logo{
	width:50px;
}

#center{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#post{
	float: none;
    margin: 0 auto;
    padding: 25px;
}

.centered{
    float: none;
    margin: 0 auto;
}

#pic{
	width: 200px;
}