ul{
list-style-type: none;
}

header{
	margin-top: 0;
	padding: 0;
}

.newsimg{
	padding: 10px;
	width: 700px;
}

#grump{
	margin-left: 50px;
	border-radius: 15px;
}

#kittycam{
	margin-left: 30px;
}

#proftext{
	margin-top: 30px;
}

#upbutton{
	margin-right: 30px;
	margin-top: 5px;
}

#profpic{
	border:4px solid #021a40;
}

#wrapper{
    width: 925px;
    height: 1355px;
    margin-left: 0px;
    margin-right: 0px;
    top: 500px;
    left: 0px;
}
#left{
	border-radius: 5px;
	min-height: 300px;
	/*background-color: black;*/
	background-image: url("../img/brushed.png");
}



#topbar{
	position: fixed;
	margin-top: -120px;
	z-index: 100;
	width: 100%;
	background-color: #336699;
}

.li{
	margin: 30px;
}

.header{
	margin-top: 5px;
	font-size: 45px;
}

#push {
    margin-top: 120px;
}

#new{
	height:50px;
	width:auto;
}

#logo{
	width:50px;
}

#center{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#post{
	margin-left: auto;
	margin-right: auto;
	/*padding: 30px;*/
}

.centered{
    float: none;
    margin: 0 auto;
}

#pic{
	width: 200px;
}