

#wrapper{
    width: 925px;
    height: 1355px;
    margin-left: 0px;
    margin-right: 0px;
    top: 500px;
    left: 0px;

#left{
	min-height: 300px;
	/*background-color: black;*/
	background-image: url("../img/geometry.png");
}

#main {
    height: 5%;
    width: 5%;
}

#new{
	height:50px;
	width:auto;
}

#logo{
	width:50px;
	
}